<html>
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav>
      <div class="container">
        <a href="/">Home</a>

        <a href="/about/">About</a>

        <a href="/pricing/">Pricing</a>

        <a href="/contact/">Contact</a>
      </div>
    </nav>
    <main>
      <div class="container">
        {{{content}}}
      </div>
    </main>
  </body>
</html>